@charset "UTF-8";

@font-face {
    font-family: 'Texto'; /* Nome que você dará à fonte */
    src: url('../Fontes/Font\ 90\ Icons.ttf') format('truetype'); /* Caminho e formato */
    font-weight: normal;
    font-style: normal;
}
#icone2{
    font-family: 'Texto';
    color: black;
}

#Voltar{
    background-color: #b22525;
    color: black;
    border: 1px solid black;
}
input#Voltar:hover{
    box-shadow: 0px 0px 5px 3px #b22525;
    color: black;
}

iframe{
    width: 100%;
    height: 9%;
}
input {
    margin-top: 1px;
    height: 31px;
    border-radius: 5px;
    color: white;
    margin-left: 120px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    margin: 2px -27px 12px 130px;
    padding: 0px 20px 0px 0px;
}

