@charset "UTF-8";

@media screen and (min-width: 700px) and (max-width: 1024px) {
    section{
    background-color: #1e1e1e;
    width: 3000px;
    height: auto;
    padding: 0px 10px 35px 10px;
    border-radius: 10px;
    text-align: justify
}
}

@font-face {
    font-family: 'Texto'; /* Nome que você dará à fonte */
    src: url('../Fontes/Font\ 90\ Icons.ttf') format('truetype'); /* Caminho e formato */
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: linear-gradient(to bottom,#313131,#252424);
    color: white;
}
main{
    width: 100vw;
    
    padding-bottom: 10px;
    justify-content: center;
    display: flex;
}

section{
    background-color: #1e1e1e;
    width: 300px;
    height: auto;
    padding: 0px 10px 35px 10px;
    border-radius: 10px;
    text-align: justify
}

h1{
    color: #b22525;
    text-align: center;
    padding-bottom: 10px;
}
img{
    width: 290px;
    height: 160px;
    margin-left: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(97, 97, 97, 0.486);

}
h3{
    color: #b22525;
}
iframe{
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(97, 97, 97, 0.486);
    margin-bottom: 10px;

}
#icone2{
    font-family: 'Texto';
    color: black;
}
#Voltar{
    background-color: #b22525;
    color: black;
    border: 1px solid black;
}
input#Voltar:hover{
    box-shadow: 0px 0px 5px 3px #b22525;
    color: black;
}
input {
    margin-top: 1px;
    height: 31px;
    border-radius: 5px;
    color: white;
    margin-left: 120px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    margin: 2px -27px 12px 130px;
    padding: 0px 20px 0px 0px;
}