@charset "UTF-8";

body{
    background-image: linear-gradient(to bottom,#313131,#252424);
    color: white;
}
main{
    width: 100vw;
    
    padding-bottom: 20px;
    justify-content: center;
    display: flex;
}

section{
    background-color: #1e1e1e;
    width: 300px;
    height: auto;
    padding: 0px 10px 50px 10px;
    border-radius: 10px;
    text-align: justify
    
}

h1{
    color: #b22525;
    text-align: center;
    padding-bottom: 10px;
}
img{
    width: 290px;
    height: 160px;
    margin-left: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(97, 97, 97, 0.486);

}
h3{
    color: #b22525;
}
iframe{
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(97, 97, 97, 0.486);
    margin-bottom: 10px;

}
iframe{
    width: 100%;
    height: 8%;
}
input {
    margin-top: 1px;
    height: 31px;
    border-radius: 5px;
    color: white;
    margin-left: 120px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}
#Voltar{
    background-color: rgb(43, 172, 231);
    color: black;
}
input#Voltar:hover{
    box-shadow: 0px 0px 5px 3px rgba(35, 184, 253, 0.568);
    transform: scale(1.1);
}
