@charset "UTF-8";

@font-face {
    font-family: 'Titulo'; /* Nome que você dará à fonte */
    src: url('../Fontes/heydings_icons.ttf') format('truetype'); /* Caminho e formato */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Icones1'; /* Nome que você dará à fonte */
    src: url('../Fontes/Font\ 90\ Icons.ttf') format('truetype'); /* Caminho e formato */
    font-weight: normal;
    font-style: normal;
}
body{
    background-image: linear-gradient(to bottom,#313131,#252424);
    color: white;
}
main{
    width: 100vw;
    height: 100vh;
    
    align-items: center;
    justify-content: center;
    display: flex;
}

section{
    background-color: #1e1e1e;
    width: 300px;
    height: 400px;
    padding: 0px 10px 1px 10px;
    border-radius: 10px;
    text-align: justify
    
}

h1{
    color: #b22525;
    text-align: center;
    padding-bottom: 10px;
}
#icone{
    font-family: Titulo;
}
#icone2{
    font-family: 'Icones1';
    color: white;
}
#icone3{
    font-family: 'Icones1';
}
p{
    margin-top: 60px;
}
input {
    margin-top: 60px;
    height: 31px;
    border-radius: 5px;
    color: white;

    margin-left: 110px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}
form{
    padding-top: 50px;
}

#continuar{
    border: 1px solid black;
    background-color: #b22525;
    padding: 5px 19px 5px 5px;
    margin: 30px -21px 9px 100px;
    font-family: sans-serif;
}


#continuar:hover{
    box-shadow: 0px 0px 3px 3px #5f2a2a;
}


