@charset "UTF-8";

@font-face {
    font-family: 'Titulo'; /* Nome que você dará à fonte */
    src: url('../Fontes/heydings_icons.ttf') format('truetype'); /* Caminho e formato */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Titulo1'; /* Nome que você dará à fonte */
    src: url('../Fontes/Font\ 90\ Icons.ttf') format('truetype'); /* Caminho e formato */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Icones'; /* Nome que você dará à fonte */
    src: url('../Fontes/Font\ 90\ Icons.ttf') format('truetype'); /* Caminho e formato */
    font-weight: normal;
    font-style: normal;
}
#icone{
    font-family: 'Titulo';
    color: #e2f105;
}
body{
    background-image: linear-gradient(to bottom,#313131,#252424);
}
main{
    width: 98vw;
    height: 170vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

section{
    background-color: #1e1e1e;
    width: 260px;
    height: 1260px;
    border-radius: 10px;
    padding-bottom: 15px;
}

h1{
    color: #e2f105;
    text-align: center;
    padding-bottom: 10px;
}
img{
    width: 200px;
    height: 110px;
    margin-left: 30px;
    border-radius: 10px;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}
img:hover{
    border-radius: 10px;
    box-shadow: 0px 0px 3px 2px #b22525;    
    position: relative;
    transform: scale(1.1);
    z-index: 10;
}
.paragrafos{
    display: flex;
    margin: auto;
    padding: auto;
    color: white;
}

input{
    margin-top: 10px;
    height: 30px;
    border-radius: 5px;
    color: white;
    margin-left: 50px;
    transition: all 0.3s ease;

}
#Voltar{
    background-color:#201e1e;
    color: white;
    margin: 0px -28px 0px 90px;
    padding: 10px 20px 20px 15px;
    border: 3px solid #181717;
    
}
input#Voltar:hover{
    box-shadow: 0px 0px 3px 3px #5c2626;
    color: white;
}
#icone2{
    font-family: 'Titulo1';
    color: white;
}
#Age{
    margin: -160px -151px 160px 98px;   
}
#Aparta{
    margin: -24px -170px 24px 86px; 
}
#Comple{
    margin: -157px 0px 157px 97px;   
}
#Flipe{
    margin: -23px -64px 23px -63px;   
}
#Oscar{
    margin: -158px -178px 158px 83px;  
}
#Kosaka{
    margin: -24px 0px 24px 100px; 
}
#Fabri{
    margin: -158px -106px 158px 70px;   
}
#Ofi{
    margin: -24px 0px 24px -14px;  
}
@media screen and (min-width: 700px) and (max-width: 1921px) {
main{
    width: 98vw;
    height: 97vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
section{
    background-color: #1e1e1e;
    width: 490px;
    height: auto;
    border-radius: 10px;
    padding-bottom: 15px;
}

h1{
    color: #e2f105;
    text-align: center;
    padding-bottom: 10px;
}
#icone{
    font-family: 'Titulo';
}
#Linha2{
    padding-left: 10px;
}
input{
    margin-top: 10px;
    height: 30px;
    border-radius: 5px;
    color: white;
    margin-left: 50px;
    transition: all 0.3s ease;

}
#Age{
    margin: -24px 0px 23px 95px;   
}
#Aparta{
    margin: -24px -265px 23px 179px;
}
#Comple{
    margin: -24px -161px 23px 95px;
}
#Flipe{
    margin: -24px -394px 24px 329px;
}
#Oscar{
    margin: -24px -181px 24px 86px;
}
#Kosaka{
    margin: -24px -388px 24px 340px;
}
#Fabri{
    margin: -24px -193px 24px 74px;
}
#Ofi{
    margin: -24px -425px 24px 305px;
}
#Voltar{
    background-color:#201e1e;
    color: white;
    margin: -36px -27px 0px 208px;
    padding: 10px 20px 20px 15px;
    border: 3px solid #181717;
    
}
input#Voltar:hover{
    box-shadow: 0px 0px 3px 3px #5c2626;
    color: white;
}
#icone2{
    font-family: 'Titulo1';
    color: white;
}
}