@charset "UTF-8";

iframe{
    width: 100%;
    height: 9%;
}
input {
    margin-top: 1px;
    height: 31px;
    border-radius: 5px;
    color: white;
    margin-left: 120px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}
#Voltar{
    background-color: rgb(43, 172, 231);
    color: black;
}
input#Voltar:hover{
    box-shadow: 0px 0px 5px 3px rgba(35, 184, 253, 0.568);
    transform: scale(1.1);
}
