@charset "UTF-8";

@font-face {
    font-family: 'Titulo'; /* Nome que você dará à fonte */
    src: url('../Fontes/Money\ money\ money.ttf') format('truetype'); /* Caminho e formato */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Titulo1'; /* Nome que você dará à fonte */
    src: url('../Fontes/Font\ 90\ Icons.ttf') format('truetype'); /* Caminho e formato */
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: linear-gradient(to bottom,#313131,#252424);
}
main{
    width: 100vw;

    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 20px;
}

section{
    background-color: #1e1e1e;
    width: 300px;
    height: auto;
    border-radius: 10px;
    padding-bottom: 15px;
}

h1{
    color: #b22525;
    text-align: center;
    padding-bottom: 10px;
}
#icone{
    font-family: 'Titulo';
}
#icone2{
    font-family: 'Titulo1';
    color: white;
}
#icone3{
    font-family: 'Titulo1';
}
img{
    width: 100px;
    height: 100px;
    margin-left: 30px;
    border-radius: 10px;
    transition: all 0.3s ease;
}
img:hover{
    border-radius: 10px;
    box-shadow: 0px 0px 3px 2px #b22525;    
    position: relative;
    transform: scale(1.1);
    z-index: 10;
}
.paragrafos{
    display: flex;
    margin: auto;
    padding: auto;
    color: white;
}

.esquerda{
    margin-top: 0px;
    padding-left: 50px;
}
.direita{
    margin-top: 0px;
    padding-left: 70px;
}
#Linha2{
    padding-left: 10px;

}
#Bunker{
    padding-left: 90px;
}
#Linha3{
    padding-left: 10px;
}
#complexo{
    padding-left: 80px;
}
#Fliperama{
    padding-left: 70px;
}
#Hangar{
    padding-left: 50px;
}
#Kosaka{
    padding-left: 80px;
}
#Laboratorio{
    padding-left: 40px;
}
#Lavarapido{
    padding-left: 60px;
}
#Motoclube{
    padding-left: 45px;
}
#Yacht{
    padding-left: 80px;
}

input{
    margin-top: 10px;
    height: 30px;
    border-radius: 5px;
    color: white;
    margin-left: 50px;
    transition: all 0.3s ease;

}
#Voltar{
    background-color:#201e1e;
    color: white;
    margin: 3px -26px 7px 44px;
    padding: 0px 19px 0px 6px;
    border: 3px solid #181717;
    
}
#Cadastrar{
    background-color: #b22525;
    color: black;
    border: 3px solid #181717;
    margin: 0px -22px 0px 50px;
    padding: 0px 23px 0px 6px;
}
input#Voltar:hover{
    box-shadow: 0px 0px 3px 3px #5c2626;
    color: white;
}
input#Cadastrar:hover{
    box-shadow: 0px 0px 3px 2px #811616;
    
}
@media screen and (min-width: 700px) and (max-width: 1921px) {
section{
    background-color: #1e1e1e;
    width: 600px;
    height: auto;
    border-radius: 10px;
    padding-bottom: 15px;
}

h1{
    color: #b22525;
    text-align: center;
    padding-bottom: 10px;
}
#Linha2{
    padding-left: 10px;
}
#Bunker{
    padding-left: 90px;
}
#Linha3{
    padding-left: 10px;
}
#complexo{
    padding-left: 80px;
}
#Fliperama{
    padding-left: 70px;
}
#Hangar{
    padding-left: 50px;
}
#Kosaka{
    padding-left: 80px;
}
#Laboratorio{
    padding-left: 40px;
}
#Lavarapido{
    padding-left: 60px;
}
#Motoclube{
    padding-left: 45px;
}
#Yacht{
    padding-left: 80px;
}

input{
    margin-top: 10px;
    height: 30px;
    border-radius: 5px;
    color: white;
    margin-left: 50px;
    transition: all 0.3s ease;

}
#Voltar{
    background-color:#201e1e;
    color: white;
    margin: 3px -28px 8px 187px;
    padding: 0px 19px 0px 6px;
    border: 3px solid #181717;
    
}
#Cadastrar{
    background-color: #b22525;
    color: black;
    border: 3px solid #181717;
    margin: 0px -22px 0px 50px;
    padding: 0px 23px 0px 6px;
}
#teste{
    margin: -140px 0px 0px 280px;
    padding: 0px 0px 0px 0px;
}
#desc{
    margin: 0px 0px 0px -55px;
}

}