@charset "UTF-8";

@font-face {
    font-family: 'Titulo'; /* Nome que você dará à fonte */
    src: url('../Fontes/Money\ money\ money.ttf') format('truetype'); /* Caminho e formato */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Titulo1'; /* Nome que você dará à fonte */
    src: url('../Fontes/Font\ 90\ Icons.ttf') format('truetype'); /* Caminho e formato */
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: linear-gradient(to bottom,#313131,#252424);
}
main{
    width: 97vw;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 20px;
}

section{
    background-color: #1e1e1e;
    width: 300px;
    height: auto;
    border-radius: 10px;
    padding-bottom: 15px;
}

h1{
    color: #b22525;
    text-align: center;
    padding-bottom: 10px;
}
#icone{
    font-family: 'Titulo';
}
#icone2{
    font-family: 'Titulo1';
    color: white;
}
#icone3{
    font-family: 'Titulo1';
}
img{
    width: 100px;
    height: 100px;
    margin-left: 30px;
    border-radius: 10px;
    transition: all 0.3s ease;
}
img:hover{
    border-radius: 10px;
    box-shadow: 0px 0px 3px 2px #b22525;    
    position: relative;
    transform: scale(1.1);
    z-index: 10;
}
.paragrafos{
    display: flex;
    margin: auto;
    padding: auto;
    color: white;
}

.esquerda{
    margin-top: 0px;
    padding-left: 50px;
}
.direita{
    margin-top: 0px;
    padding-left: 70px;
}
#Linha2{
    padding-left: 10px;

}
#avenger{
    padding-left: 90px;
}
#Bunker{
    padding-left: 45px;
}
#Boate{
    padding-left: 95px;
}
#complexo{
    padding-left: 45px;
}
#centro{
    padding-left: 40px;
}
#exportacao{
    padding-left: 50px;
}
#fabrica{
    padding-left: 45px;
}
#gara{
    padding-left: 45px;
}
#ferro{
    padding-left: 70px;
}
#hangar{
    padding-left: 55px;
}
#Hangar{
    padding-left: 85px;
}
#Kosaka{
    padding-left: 45px;
}
#Laboratorio{
    padding-left: 90px;
}
#Lavarapido{
    padding-left: 45px;
}
#Motoclube{
    padding-left: 50px;
}
#mansoes{
    padding-left: 50px;
}
#muamba{
    padding-left: 80px;
}
#oficina{
    padding-left: 20px;
}
#terror{
    padding-left: 50px;
}
#yacht{
    padding-left: 80px;
}

#Linha3{
    padding-left: 10px;
}
#Fliperama{
    padding-left: 70px;
}

input{
    margin-top: 10px;
    height: 30px;
    border-radius: 5px;
    color: white;
    margin-left: 50px;
    transition: all 0.3s ease;

}
#Voltar{
    background-color:#201e1e;
    color: white;
    margin: -5px -27px 10px 106px;
    padding: 10px 20px 20px 15px;
    border: 3px solid #181717;
    
}
input#Voltar:hover{
    box-shadow: 0px 0px 3px 3px #5c2626;
    color: white;
}
@media screen and (min-width: 700px) and (max-width: 1921px) {
section{
    background-color: #1e1e1e;
    width: 600px;
    height: auto;
    border-radius: 10px;
    padding-bottom: 15px;
}

h1{
    color: #b22525;
    text-align: center;
    padding-bottom: 10px;
}
#Linha2{
    padding-left: 10px;
}

#avenger{
    padding-left: 90px;
}
#centro{
    padding-left: 40px;
}

#Bunker{
    padding-left: 45px;
}
#Boate{
    padding-left: 95px;
}
#complexo{
    padding-left: 50px;
}
#exportacao{
    padding-left: 50px;
}
#fabrica{
    padding-left: 43px;
}
#garagemexe{
    padding-left: 40px;
}
#gara{
    padding-left: 50px;
}
#ferro{
    padding-left: 65px;
}
#hangar{
    padding-left: 55px;
}
#Hangar{
    padding-left: 80px;
}
#Kosaka{
    padding-left: 60px;
}
#Laboratorio{
    padding-left: 70px;
}
#Lavarapido{
    padding-left: 40px;
}
#Motoclube{
    padding-left: 60px;
}
#mansoes{
    padding-left: 50px;
}
#muamba{
    padding-left: 80px;
}
#terror{
    padding-left: 45px;
}
#yacht{
    padding-left: 85px;
}

#Linha3{
    padding-left: 10px;
}
#Fliperama{
    padding-left: 70px;
}

input{
    margin-top: 10px;
    height: 30px;
    border-radius: 5px;
    color: white;
    margin-left: 50px;
    transition: all 0.3s ease;

}
#Voltar {
    background-color: #201e1e;
    color: white;
    margin: 10px -27px 0px 259px;
    padding: 10px 25px 25px 10px;
    border: 3px solid #181717;
}
#teste{
    margin: -140px 0px 0px 280px;
    padding: 0px 0px 0px 0px;
}
#teste2{
    margin: -155px 4px 15px 280px;
    padding: 0px 0px 0px 0px;
}

#desc{
    margin: 0px 0px 0px -55px;
}

}