@charset "UTF-8";

@font-face {
    font-family: 'Titulo'; /* Nome que você dará à fonte */
    src: url('../Fontes/Money\ money\ money.ttf') format('truetype'); /* Caminho e formato */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Titulo1'; /* Nome que você dará à fonte */
    src: url('../Fontes/Font\ 90\ Icons.ttf') format('truetype'); /* Caminho e formato */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Icones'; /* Nome que você dará à fonte */
    src: url('../Fontes/Font\ 90\ Icons.ttf') format('truetype'); /* Caminho e formato */
    font-weight: normal;
    font-style: normal;
}
#icone{
    font-family: 'Icones';
}

body{
    background-image: linear-gradient(to bottom,#313131,#252424);
}
main{
    width: 98vw;
    height: 97.6vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

section{
    background-color: #1e1e1e;
    width: 250px;
    height: 620px;
    border-radius: 10px;
    padding-bottom: 15px;
}

h1{
    color: #b22525;
    text-align: center;
    padding-bottom: 10px;
}
img{
    width: 200px;
    height: 110px;
    margin-left: 30px;
    border-radius: 10px;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}
img:hover{
    border-radius: 10px;
    box-shadow: 0px 0px 3px 2px #b22525;    
    position: relative;
    transform: scale(1.1);
    z-index: 10;
}
.paragrafos{
    display: flex;
    margin: auto;
    padding: auto;
    color: white;
}

.esquerda{
    margin: -155px -65px 0px 90px;

}
#Golpe{
    margin: -25px 0px 0px 0px;
}
#Guia{
    margin: -23px 0px 25px -45px;
}
#Atuali{
    margin: -158px -65px 0px 63px;
}


input{
    margin-top: 10px;
    height: 30px;
    border-radius: 5px;
    color: white;
    margin-left: 50px;
    transition: all 0.3s ease;

}
@media screen and (min-width: 700px) and (max-width: 1921px) {
section{
    background-color: #1e1e1e;
    width: 490px;
    height: auto;
    border-radius: 10px;
    padding-bottom: 15px;
}

h1{
    color: #b22525;
    text-align: center;
    padding-bottom: 10px;
}
#Linha2{
    padding-left: 10px;
}
#Atuali{
    padding-left: 45px;
}
#Guia{
    padding-left: 133px;
}

input{
    margin-top: 10px;
    height: 30px;
    border-radius: 5px;
    color: white;
    margin-left: 50px;
    transition: all 0.3s ease;

}
.esquerda{
    margin: -21px -10px 0px 90px;
}
.direita{
    margin-top: 0px;
    padding-left: 177px;
}
#Golpe{
    margin: -25px 0px 0px 0px;
}
#Guia{
    margin: -23px 0px 25px -45px;
}
#Atuali{
    margin: -22px 35px 0px 19px;
}
}